<!doctype html>
<html>
    <body>
        <div class="container">
            <div class="home">
                <h2>Bienvenido</h2>
            </div>
            <div class="buttons">
                <button routerLink="/login" class="btn btn-dark m-1" [@fadeAndScale]>Login</button>
                <button routerLink="/registro-pacientes" class="btn btn-dark m-1" [@fadeAndScale]>Registrar Paciente</button>
                <button routerLink="/registro-especialistas" class="btn btn-dark m-1" [@fadeAndScale]>Registrar Especialista</button>
            </div>
        </div>
    </body>
</html>
    

  
  
  
  
  
