<mat-card style="background-color: #7b97aa;">
    <div class="row" style="max-width: 99%;">
        <div class="col-6">
            <button appBordeSeleccionAzul matTooltip="Especialista" class=" boton profile-button m-3" (click)="ir('registro-especialistas')">
                <img src="../../../assets/registro/especialista.png" alt="">
            </button>
        </div>
        <div class="col-6">
            <button appBordeSeleccionAzul matTooltip="Paciente" class="boton profile-button m-3" (click)="ir('registro-pacientes')">
                <img src="../../../assets/registro/paciente.png" alt="">
            </button>
        </div>
    </div>
</mat-card>
